

/* Web chính */

.code_0 {
    width: 90%;
    margin: 15px auto;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.code_1 {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.code_2 {
    margin: 2px;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4a4a4a;
}
.code_3 {
    width:15px;
    height: 15px;
    border-radius: 50%;
    background-color: #8f8f8f;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
    margin: 10px;
}
.code_4 {
    width: 75%;
    height: 1px; 
    background-color: #8f8f8f; 
}
.code_5 {
    width: 80%;
    display: flex;
    margin-top: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
}
.code_6 {
    width: 75%;
    padding: 5px;
    place-items: center;
}
.code_7 {
    width: 25%;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.code_8 { 
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 15px 0;
}
.clickable {
    background-color: #007BFF;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
}
.code_9 {
    width: 100%;
    display: none;
    margin-top: 5px;
}
.code_10 {
    margin: 5px;
    padding: 5px;
    background-color: #ffffff;
    color: #1100ff;
    border-color: #ffffff;
    border: 2px solid #ffffff; 
    border-radius: 5px;
}
.code_10:hover {
    border-color: #1100ff;
}
.code_11 { 
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
}

@media (max-width: 1000px) {
.code_5 {
    flex-direction: column; 
    align-items: center; 
}
.code_6, .code_7 {
    width: 100%; 
    padding: 10px; 
}
}
.code_6_0 {
    width: 100%;
    display: flex;
    margin-top: 5px;
    background-color: #ffffff;
    border-radius: 10px;
}
.code_6_1{
    text-align: center;
}
.code_12{
    padding-left: 15px;
}
.code_14{
    width: 40%;
    padding: 10px;
}
.code_13{
    width: 85%;
    height: 95%;
}
.code_15{
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.code_16{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.code_17 {
    background-color: #cbcbcb;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.code_18 {
    display: flex;
    justify-content: space-between;
}
.code_19 {
    display: flex;
    width: 50%;
    padding: 5px;
    flex-direction: column;
}
.code_20{
    width: 20%;
    display: flex;
}
.code_21{
    display: flex;
    padding: 5px;
    flex-direction: column;
    width: 30%;
}
.code_22{
    color:#13d758;
}
.code_23{
    padding-top:10px;
}
.code_24{
    text-align: right;
}

.code_26{
    display: flex;
    background-color: #f42e01;
    border-radius: 7px;
    margin: -5px;
    padding: 5px;
    color: #ffffff;
    align-items: center;
    font-size:small;
}
.code_27{
    text-decoration: line-through;
    color: #8f8f8f;
}
.code_28{
    padding-left: 5px;
    padding-right: 5px;
}
.code_29{
    display: flex;
}
.code_30 {
    width: 95%;
    display: flex;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 5px;
    border: solid #c9c7c7;
    border-width: 1px;
    margin-top: 10px;
}
.code_31{
    cursor: pointer;
}
.code_31, .code_32{
    width: 38px ;
    height: 25px;
    border-radius: 5px;
    border-color: #e1dede;
    border: none;
} 
.code_32{
    text-align: right;
}
.code_35, .code_36, .code_37, .code_38{
    color: #ffffff;
    border-radius: 5px;
    height: 40px;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    cursor: pointer;
    justify-content: center;
    gap: 8px;
    width: 100%;
    border: none;
}
.code_35{
    background-color: #007BFF;
}
.code_36{
    background-color: #004494;
}
.code_37{
    background-color: #ad2b68;
}
.code_38{
    background-color: #12a345;
}
.code_39{
    text-align: center;
}
.code_41{
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
}
.code_42{
    display: flex;
    justify-content: flex-end;
    color: #2579f2;
    cursor: pointer;
}
.code_42:hover{
    text-decoration: underline;
}
.code_44{
    border: none;
    background-color: #ffffff;
    color: red;
    cursor: pointer;
}
.code_46{
    display: none;
}   
.code_49{
    width: 80%;
    margin-top: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
}
.code_50, .code_51, .code_52, .code_53{
    display: flex;
    margin: 20px;
    gap: 5px;
}
.code_51{
    font-weight: bold;
    justify-content: center; 
    gap: 30px;
    border-bottom: solid #ccc;
    border-top: solid #ccc;
    border-top-width: 1px;
    border-bottom-width: 1px;
}
.code_52{
    max-width: 100%;
    height: auto;
}
.code_54{
    padding: 20px;
}
.code_55{
   width: 63px;
}
.changed_color_1 {
    background-color: #2579f2; 
}
.changed_color_2{
    color: #2579f2;
}
