/* Modal-login */

.login-modal {
    position: fixed;
    top: 20%;
    left: 20%;
    background-color: white;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    max-width: 60%;
    display: none;
    max-height: 80%;
    animation: moveup ease 0.4s;
    z-index: 1;
}

.login-modal .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.login-modal .form-container {
    width: 60%;
    padding: 20px;
    line-height: 1.6;
}

.login-modal h2 {
    margin-bottom: 10px;
}

.login-modal h2 a {
    text-decoration: none;
    color: #000;
}

.login-modal form {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.login-modal form input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.login-modal form button {
    padding: 10px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.login-modal form button:hover {
    background-color: #004494;
}

.login-modal .social-login {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.login-modal .social-login a {
    margin: 0 10px;
    font-size: 24px;
    color: #555;
}

.login-modal .social-login a:hover {
    color: #000;
}

.login-modal .forgot-password {
    text-align: left;
    margin-bottom: 10px;
}

.login-modal .forgot-password a {
    color: #0056b3;
    text-decoration: none;
}

.login-modal .forgot-password a:hover {
    text-decoration: underline;
}

.login-modal .illustration {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-modal .illustration img {
    width: 100%;
}

.login-modal.open {
    display: flex;
}

.blur {
    filter: blur(5px); /* Tạo hiệu ứng làm mờ */
    transition: filter 0.3s ease; /* Hiệu ứng chuyển tiếp mượt mà */
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Màu nền tối với độ trong suốt */
    z-index: 0; /* Đặt z-index thấp hơn modal */
    display: none; /* Bắt đầu với trạng thái ẩn */
}

@keyframes moveup {
    from {
        opacity: 0;
        transform: translateY(-200px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}


/* Modal-register */
.register-modal {
    position: fixed;
    top: 20%;
    left: 20%;
    background-color: white;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    max-width: 60%;
    display: none;
    max-height: 80%;
    animation: moveup ease 0.4s;
    z-index: 1;
}

.register-modal .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.register-modal .form-container {
    width: 60%;
    padding: 20px;
    line-height: 1.6;
    flex: 1;
}

.register-modal h2 {
    margin-bottom: 10px;
}

.register-modal h2 a {
    text-decoration: none;
    color: #000;
}

.register-modal form {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.register-modal form input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.register-modal form button {
    padding: 10px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.register-modal form button:hover {
    background-color: #004494;
}

.register-modal .accept {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: 15px 0 15px;
}

.register-modal .illustration {
    width: 40%;
    display: flex;
    flex: 1;
    text-align: center;
}

.register-modal .illustration img {
    width: 100%;
    height: auto;
}

.register-modal.open {
    display: flex;
}


/* Web chính */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px !important;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e2dddd;
}

.main {
    max-width: 100vw;
    position: relative;
    overflow: hidden;
    transition: filter 0.3s ease;
}

.header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
}


.top-bar {
    width: 100%;
    background-color: #0a59cc;
    display: flex;
    padding: 5px 20px;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    min-height: 40px;
}

.top-bar a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.text-slider {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-content {
    display: flex;
    align-items: center;
    transition: transform 0.5s ease; 
}

.slider-content a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.slider-content .text {
    margin: 0 5px;
    font-size: 14px;
}

.main-header {
    background-color: #2579f2;
    color: white;
    padding: 10px 0;
    width: 100%;
}



.main-header .top-user {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: center;
}


.logo img {
    height: 50px;
    margin-right: 10px;
    border-radius: 6px;
}

.main-header .search-bar {
    display: flex;
    width: 30%; 
}

.main-header .search-bar input {
    border-radius: 4px;
    border: none;
    width: 100%;
    padding: 10px;
}

.main-header .search-bar button {
    padding: 11px;
    border: none;
    background-color: #0D47A1;
    color: white;
    border-radius: 5px;
}


.main-header .cart-1 .btn {
    background: none;
    border: none;
    outline: none;
    font-size: 16px;
    color: white;
    padding: 0 10px;
}

.main-header .cart-1 i {
    padding: 10px;
    border: 2px solid white;
    border-radius: 20px;
}

.main-header .cart-1 a i {
    margin-right: 5px;
}

.main-header .cart-2 {
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
}

.main-header .cart-2 i {
    padding: 0 10px;
}

.main-header .cart-2 a i {
    margin-right: 5px;
}

.main-header .user-2 {
    display: flex;
    width: 1200px;
    box-sizing: content-box;
    margin: 0 auto;
    padding: 10px 0;
    justify-content: space-between;
}

.main-header .user-2 a {
    color: white;
    text-decoration: none;
    margin: 0 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}

.main-header .user-2 a i {
    margin-right: 10px;
}

.dropdown-total {
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.dropdown {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.dropdown .btn-drop {
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
}

.dropdown .category {
    display: none;
    position: absolute; 
    background-color: white; 
    border: 1px solid #ccc; 
    z-index: 1000; 
    margin-top: 15px;
}

.btn-drop:hover .category {
    display: block; 
}

.dropdown .dropbtn button {
    background-color: #fff;
    border: none;
    font-weight: 600;

}


.right-category .category-1 {
    text-decoration: none;
    color: #000;
    margin: 0 10px;
    font-weight: 600;
}

.sidebar {
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    width: 100%; 
    font-size: 16px;
}

.sidebar a {
    color: black;
    text-decoration: none;
    display: block;
}

.sidebar a:hover {
    background-color: #f1f1f1;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    text-decoration: none;
    color: #333;
    padding: 8px 0;
}

.sidebar ul li i {
    margin-right: 10px;
}

/* Hiện sidebar khi hover vào dropdown */
.dropdown:hover .sidebar {
    display: block; /* Hiện sidebar khi hover vào dropdown */
}



.oc {
    width: 1200px;
    box-sizing: content-box;
    margin: 0 auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}


        .container {
            background-color: #f5f5f5;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            margin: 0 auto;
        }

        .total-insite-content {
            width: 1200px;
            box-sizing: content-box;
            margin: 0 auto;
            margin-top: 20px;
        }

        .product-main {
            display: flex;
            width: 100%;
        }

        .product {
            position: relative;
            display: flex;
            width: 1200px;
            box-sizing: content-box;
            margin: 0 auto;
            gap: 20px;
        }

        .product img {
            
            border-radius: 3px;
            height: 220px;
        }

        .product .product-kid  {
            position: absolute;
            top: 65%;
            left: 16%;
            
        }

        .product .product-kid img {
            width: 85px;
            height: 65px;
            border: 2px solid #ececec;
        }

        .product-total {
            width: 1200px;
            margin: 0 auto;
            background-color: #e3f0fd;
            padding: 20px;
            border-radius: 5px;
            line-height: 1.8;
            display: flex;
        }

        .product-big-total {
            width: 30%;
        }

        .product-description {
            font-weight: 520;
            font-size: 16px;
        }

        .toggle-button {
            font-size: 16px;
            margin-top: 10px;
            background-color: #e3f0fd;
            border: none;
            text-decoration: underline;
            cursor: pointer;
        }
        


        /* sản phẩm liên quan */
        .products .h2 {
            margin: 15px 0;
        }



        .product-details {
            width: 100%;
            margin-left: 10px;
            line-height: 35px;
        }

        .product-details .price {
            font-weight: 700;
            font-size: 24px;
            color: #333;
            margin: 10px 0;
        }

        .product-details .duration button,
        .product-details .actions button {
            font-weight: 700;
        }

        .product-details .duration button {
            background-color: #f0f0f0;
            border: 1px solid #ccc;
            padding: 10px 20px;
            margin-right: 10px;
            border-radius: 5px;
        }

        .product-details .duration button.active {
            background-color: #007bff;
            color: #fff;
            border-color: #007bff;
        }

        .product-details .actions {
            margin: 20px 0;
        }

        .product-details .actions button {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 15px 20px;
            border-radius: 5px;
            cursor: pointer;
        }

        .product-details .actions button.secondary {
            background-color: #f0f0f0;
            color: #2b37e7;
        }

        /* sản phẩm */

        
        .products {
            width: 1200px;
            box-sizing: content-box;
            margin: 0 auto;
            margin-top: 20px;
        }

        .products-grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr); 
            gap: 25px;
        }

        .products-card {
            font-weight: 550;
        }

        .products-card img {
            width: 100%;
            border-radius: 4px;
        }


        .product-detail {
            margin-top: 10px;
            line-height: 25px;
        }

        .product-details p {
            font-size: 14px;
            color: #333;
            margin:0;
            white-space: nowrap;
        }

        .product-details span {
            font-size: 16px;
            font-weight: bold;
            color: #333;
            display: block;
            padding-right: 100px;
            margin-top: 10px;
        }

        footer {

        }
        
        .footer-best {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            margin: auto;
        }
        
        
        .top-footer {
            display: flex;
            width: 100%;
            background-color: #fff;
            padding: 10px;
        }
        
        
        .pay {
            display: flex;
            width: 1200px;
            box-sizing: content-box;
            margin: 0 auto;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        
        }
        
        .pay1 {
            margin-top: 10px;
            font-size: 10px;
        }
        
        .footer-center {
            display: flex;
            flex-direction: column;
            width: 1200px;
            box-sizing: content-box;
            margin: 0 auto;
        }
        
        .social-links {
            display: flex;
            margin: 20px 0;
        }
        
        .social-links img {
            margin-right: 10px;
            border-radius: 5px;
        }
        
        .social-links span {
            font-size: 14px;
        }
        
        .footer-section {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
        
        
        .footer-column h3 {
            font-size: 16px;
            font-weight: bold;
        }
        
        .footer-column ul {
            list-style: none;
            padding: 0;
        }
        
        .footer-column li {
            padding: 5px 0;
        }
        
        .footer-column a {
            text-decoration: none;
            color: #000;
            font-size: 14px;
        }
        
        .footer-column1 {
            padding-top: 10px;
        }
        
        .footer-column2 {
            padding-top: 10px;
        }
        
        .footer-column3 {
            padding-top: 10px;
        }

