* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px !important;
}

body {
    background-color:  #f3f4f6 !important;
}


/* Web chính */

.main {
    max-width: 100vw;
    position: relative;
    overflow: hidden;
    transition: filter 0.3s ease;
}

.header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
}

.qc-main {
    width: 100vw;
}

.left-img {
    position: fixed;
}

.right-img {
    position: fixed;
    right: -240px;
}

.qc-img {
    width: 40%;
}

.top-bar {
    width: 100%;
    background-color: #0a59cc;
    display: flex;
    padding: 5px 20px;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    min-height: 40px;
}

.top-bar a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.text-slider {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-content {
    display: flex;
    align-items: center;
    transition: transform 0.5s ease; 
}

.slider-content a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.slider-content a:hover {
    color: #fff;
}

.slider-content .text {
    margin: 0 5px;
    font-size: 14px;
}

.main-header {
    background-color: #2579f2;
    color: white;
    padding: 10px 0;
    width: 100%;
}

.oc {
    width: 1200px;
    box-sizing: content-box;
    margin: 0 auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.main-header .top-user {
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 30px; */
    align-items: center;
}


.logo img {
    width:100px !important;
    height: 80px;
    margin-right: 10px;
    border-radius: 6px;
}

.swiper-container {
    width: 70%; 
    margin: 0 auto;
    overflow: hidden; 
    box-sizing: border-box;
    cursor: pointer;
  }
  
  .swiper-slide img {
    width: 100%;
    height: 100%; 
    display: block; 
    object-fit:fill;
  }

  .main-content-down img:hover {
    cursor: pointer;
  }


.main-header .search-bar {
    display: flex;
    width: 30%; 
}

.main-header .search-bar input {
    /* border-radius: 4px; */
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    border: none;
    width: 100%;
    height: 47px;
    padding: 10px;
}
a{
    text-decoration: none !important;
 }
.main-header .search-bar a {
    padding: 11px;
    border: none;
    background-color: #0D47A1;
    border:1px solid #0D47A1;
    color: white;
    font-size: 16px;
    width: 50px;
    /* border-radius: 5px; */
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}

.main-header .cart-1 .btn {
    background: none;
    border: none;
    outline: none;
    color: white;
    padding: 0 10px;
}


.main-header .cart-1 i {
    padding: 10px;
    border: 2px solid white;
    border-radius: 50px;
    font-size: 20px;
}
.main-header .cart-1 .btn{
    font-size: 14px;
    font-weight: bold;
}

.main-header .cart-1 a i {
    margin-right: 5px;
}

.main-header .cart-2 {
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 15px;
}

.main-header .cart-2 i {
    padding: 0 10px;
}

.main-header .cart-2 a i {
    margin-right: 5px;
}

.main-header .user-2 {
    display: flex;
    width: 1200px;
    box-sizing: content-box;
    margin: 0 auto;
    padding: 10px 0;
    justify-content: space-between;
}

.main-header .user-2 a {
    color: white;
    text-decoration: none;
    margin: 0 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}

.main-header .user-2 a i {
    margin-right: 10px;
}

.dropdown {
    display: flex;
    align-items: center;
    background-color: #fff;
    width: 100%;
    margin-bottom: 15px;
}

.dropdown .btn-drop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    box-sizing: content-box;
    margin: 0 auto;
    padding: 15px;

}

.dropdown .dropbtn {

}

.dropdown .dropbtn button {
    background-color: #fff;
    border: none;
    font-weight: 600;

}


.right-category .category-1 {
    text-decoration: none;
    color: #000;
    margin: 0 10px;
    font-weight: 600;
}

.category {
    width: 22%;
}

.sidebar {
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    width: 100%;
}

.sidebar a {
    padding: 5px 0;
    color: black;
    text-decoration: none;
    display: block;
}

.sidebar a:hover {
    background-color: #f1f1f1;
}

.dropbtn:hover .sidebar {
    display: block;
}



.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    text-decoration: none;
    color: #333;
    font-size: 14px;
    padding: 8px 0;
}

.sidebar ul li i {
    margin-right: 10px;
}

.so2giohang {
    color: black; 
    font-weight: 600; 
    background-color: #fff; 
    margin-left: 10px; 
    padding: 5px; 
    border-radius: 5px;
}


/* Web-content */

.content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
}

.text-pr-product {    
    margin: 20px 0;
    line-height: 35px;
    width: 100%;
} 

.total-insite-content {
    width: 1200px;
    box-sizing: content-box;
    margin: 0 auto;
    margin-top: 20px;
}

.first-content {
    display: flex;
    box-sizing: content-box;
    margin: 0 auto;
    width: 1200px;
    gap: 20px; 
}

.slider {
    overflow: hidden;
    width: 70%;
    border-radius: 10px;
}

.banner {
    width: 100%;
    display: flex;
    transition: transform 0.7s ease-in-out;
    height: 100%;
}

.banner img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.picture-right {
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 15px; 
}

.picture-right .two-picture-right {
    flex: 1; 
}

.picture-right .two-picture-right img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}


 .main-content-down {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 25px;
}

.main-content-down img {
    width: 100%;
    border-radius: 10px;
}


.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 25px;
  } 
  
.product-grid>a {
    color: black;
    text-decoration: none
}

.product-item {
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 220px;
}

  .product-info {
    padding: 10px;
  }

  .product-item img {
    width: 100%;
    border-radius: 5px;
    height: 100%;
    object-fit: contain;
  }
  
  .product-info h3 {
    font-size: 14px;
    margin: 0 0 10px;
  }

  .product-info .original-price {
    margin: 0 0 10px;
    font-weight: 500;
  }


.select-product-key {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    gap: 6px;
}

.select-product-key .key-word {
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 90%;
    height: 100px;
    text-align: center;
    font-size: 18px;
    padding: 35px;
}

.select-product-key .a {
    background-color: #3d5b81;
}
.select-product-key .b {
    background-color: #98c0d9;
}
.select-product-key .c {
    background-color: #ee6b4d;
}
.select-product-key .d {
    background-color: #293241;
}
.select-product-key .e {
    background-color: #545a66;
}

.five-content {
    width: 100%;
    margin-top: 20px;
    padding: 10rem;
    background-repeat: no-repeat; 
}

.five-content .product-item {
    color: white;
}



.bottom-total-content {
    border-bottom: 1px solid #ccc; 
    padding-bottom: 30px; 
}

.five-content .total-insite-content .text-pr-product1 {
    border: 1px solid #fff;
    border-radius: 50px;
    width: 25%;
  
    padding: 10px;
}
.five-content .total-insite-content .text-pr-product1 h2{
    font-size:20px !important;
    text-align: center !important;
}
.six-content {
    width: 100%;
    background-color: #000;
    margin-top: 20px;
}

.total-insite-content .before-login {
    display: flex;
    color: #fff;
    align-items: center;
    padding: 20px;
}

.before-login img {
    margin: 0 20px;
}

.before-login .text-before-login {
    padding: 10px;
}

.before-login .text-before-login h4 {
    line-height: 40px;
}

.text-before-login button {
    margin: 10px 0;
    background-color: #2579f2;
    padding: 5px;
    border-radius: 10px;
    color: white;
    border: none;
    font-weight: 500;
    line-height: 40px;
}


/* Footer */

footer {

}

.footer-best {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
}


.top-footer {
    display: flex;
    width: 100%;
    background-color: #fff;
    padding: 10px;
}


.pay {
    display: flex;
    width: 1200px;
    box-sizing: content-box;
    margin: 0 auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

}

.pay1 {
    margin-top: 10px;
    font-size: 10px;
}

.footer-center {
    display: flex;
    flex-direction: column;
    width: 1200px;
    box-sizing: content-box;
    margin: 0 auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.social-links {
    display: flex;
    margin: 20px 0;
}

.social-links img {
    margin-right: 10px;
    border-radius: 5px;
}

.social-links span {
    font-size: 14px;
}

.footer-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.footer-column h3 {
    font-size: 16px;
    font-weight: bold;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column li {
    padding: 5px 0;
}

.footer-column a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
}

.footer-column1 {
    padding-top: 10px;
}

.footer-column2 {
    padding-top: 10px;
}

.footer-column3 {
    padding-top: 10px;
}

/* Responsive Styles */

@media (max-width: 1500px) {
    .qc-main {
        display: none;
    }
}

@media (max-width: 900px) {
    .right-category {
        /* flex-direction: column; */
        /* text-align: center; */
        display: none;
    }

    .main-header {
        width: 100%;
    }


    .main-header .top-user {
        text-align: center;
        display: flex;
    }

    .search-bar {
        display: flex;
    }

    .content .first-content {
        flex-direction: column;
    }

    .first-content .picture-right {
        flex-direction: row;
        width: 100%;
    }

    .content .second-content {
        width: 100;
        align-items: center;
    }

    .content .second-content .main-content-down {
        width: 100%;
    }

    .slider {
        margin: 0;
        width: 100%;
    }

    .banner img {
        height: auto;
    }

    .main-header .user-2,
    .sidebar,
    .co, .coo {
        display: none;
    }
}


@media (max-width: 768px) { 
    .top-bar { 
        display: none;
    }
}


@media (max-width: 480px) {
    .main-header .search-bar input, .main-header .search-bar button {
        width: 50%;
    }
    
    /* .main-header .top-user {
        width: 50%;
    } */

    .main-header .search-bar {
        width: 50%;
    }

    .top-bar {
        font-size: 12px;
        padding: 5px 10px;
    }

    .second-content {
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 20px;
    }
}


.product-item{
    overflow: hidden;
}

.product-item:hover img{
    transition: 1s ease-in-out;
    scale: 1.2;
}
.social-links a img{
    border-radius: 5px;
    width: 30px;
    height: 30px;
}

.pay a{
    margin: 0px 5px;
}

.top-bar-top{
    position: fixed;
    bottom:20px;
    right: 20px;
}
.img-parent{
    height:130px; 
    overflow: hidden;
}

.bar_reponsive{
    display: none;
}

.header-2{
    width: 270px;
    height: 100vh;
    background-color: white;
    position: fixed;
    top:0;
    display: none;
}
.header-2.active {
    display: block; 
    z-index: 999999;

}
.header-2 .user-2{
    margin-top: 20px;
}
.header-2 .user-2 a i{
    margin-right: 10px;
    font-size: 18px;
}

.header-2 .user-2 a{
    display: block;
    margin-left:10px;
    padding:10px;
    color:#000;
    font-weight: bold;
}

.header-2 .cart-1{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #2579f2;
    color:white;
    padding:10px 0px;

}
.header-2 .cart-1 button{
    color:white;
    font-weight: bold;
}
.header-2 .cart-1 i{
    font-size: 16px;
    padding:10px;
    border:1px solid white;
    border-radius: 50%;
}
.header-2 .user-2 a:hover{
    text-decoration:overline;
}
.cart-1{
    display: flex !important;
    align-items: center !important;
}
.cart-2{ 
    display: flex !important;
    align-items: center !important;
}
.category{
    display: none !important;
}

.category.show {
    transition: 0.5s ease-in-out;
    display: block !important;
}

@media screen and (max-width:767px) { 
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    body{
        padding:0px 10px;
    }
    .main-content-down{
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    .select-product-key {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
    .total-insite-content {
        width: 100%;
    }

    .select-product-key .key-word{
        height: auto !important;
        padding: 10px !important
    }
    .total-insite-content .before-login{
        display: block !important;
    }
    .pay1{
        display: none !important;
    }
    .footer-section {
        display: block !important;
    }
    .five-content {
        padding:10px;
    }
    .five-content .total-insite-content .text-pr-product1{
        width: 100% !important;
    }
    .dropdown .btn-drop{
        display: none !important;
    }
    .first-content {
        width: 100%;
    }
    .swiper-container {
        width: 100%;
    }
    .main-header{
        display: block !important;
    }
    .swiper-container {
        width: 100%;
    }
    .oc {
        width: 100%;
         box-sizing:inherit;
    }
    .top-user .logo{
        display: none ;
    }
    .top-bar{
        display: none !important;
    }
    .top-user{
        width: 100%;
    }
    .main-header .search-bar {
        width: 100%;
    }
    .main-header .search-bar input{
        height: 40px;
    }
    .main-header .search-bar a {
        padding:7px;
    }
    .btn-drop{
        display: none !important;
    }
    .cart-1{
        display: none !important;
    }
    .bar_reponsive{ 
        display: block !important;
    }

    .search-bar { 
        display: flex ;
        justify-content: center;
    }
    .cart_reponsive{
        display: none !important;
    }
    .cart-1-reponsive{ 
        display: block !important;
    }
    .illustration{
        display: none !important;
    }
    .login-modal .form-container{
        width: 100% !important;
    }
    #tab-desc{
        display: none !important;
    }
    .login-modal {
        width: 100%;
    }
    .tab-content p{
        display: none !important;
    }
    .cart-info{
        display: none !important;
    }

}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .login-modal {
        width: 100%;
    }
    .bar_reponsive{
        display: block;
    }
    .login-modal {
        width: 500px !important;
        height: auto;
    }
    body{
        padding:0px 10px;
    }
    .product-grid {
        grid-template-columns: repeat(3, 2fr);
        gap: 10px;
    }
    .main-content-down{
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    .select-product-key {
        grid-template-columns: repeat(5, 1fr);
        gap: 10px;
    }
    .total-insite-content {
        width: 100%;
    }
    .select-product-key .key-word{
        height: auto !important;
        padding: 10px !important
    }
    .five-content {
        padding:20px;
    }
    .five-content .total-insite-content .text-pr-product1{
        width: 50% !important;
    }
    .first-content {
        width: 100%;
    }
    .swiper-container {
        width: 100%;
    }
    .oc {
        width: 100%;
         box-sizing:inherit;
    }
    .top-user .logo{
        display: none ;
    }
    .top-bar{
        display: none !important;
    }
    .main-header .search-bar input{
        height: 40px;
    }
    .main-header .search-bar a {
        padding:7px;
    }
    .btn-drop{
        display: none !important;
    }
    .cart-info{
        display: none !important;
    }
}
.tab-btn {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #333;
    padding: 5px 10px;
  }
  .tab-btn.active {
    font-weight: bold;
    color: #007BFF;
    text-decoration: underline;
  }
  .tab-content {
    display: none !important;
  }
  .active {
    display: block !important;
  }
 

  .swal2-container {
    z-index: 3000 !important; /* Đặt giá trị cao hơn modal */
  }
  .cart_2_reponsive{
    display: none !important;
  }
  .block{
    display: block !important;
  }
  .hidden {
    display: none !important;
  }

@media screen and (max-width:767px) { 
    .cart-info .d-flex{
        display: none !important;
    }
}